*{
    margin: 0;
    padding: 0;
}

#timerDiv, #clockDiv, #stopwatchDiv{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: none;
    background-color: rgb(213, 213, 213);
}

.menu{
    display: flex;
    width: 100vw;
    height: 5vh;
    background-color: white;
    justify-content: space-around;
}

.text{
    display: inline-block;
    position: relative;
    font-size: 18vw;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

.menu button{
    width: 33%;
    height: 100%;
    background-color: transparent;
    color: lightslategray;
    border: none;
}

.menu button:hover{
    color: red;
}

.stopwatchMenu, .timerMenu{
    display: flex;
    width: 60vw;
    justify-content: space-around;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
}

.stopwatchMenu button{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    font-size: 3vw;
    border: none;
    display: none;
}

.stopwatchMenu #startStopButton{
    background-color: blue;
    color: white;
    display: inline
}

.textAndLaps{
    position: relative;
    top: 20%;
    width: 100%;
}

#stopwatchText{
    top: 0%;
}

#laps{
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 50%;
    transform: translateY(100%);
    overflow-y: auto;
    text-overflow: ellipsis;
}

#laps table{
    width: 100%;
    
}

th, td{
    border-bottom: 1px solid #bbb;
    width: 50%;
}



/* timer */

#timerInputs{
    position: absolute;
    display: flex;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
}

#timerInputs input {
    width: 10vw;
    padding: 10px;
    margin: 5vw;
    font-size: 16px;
    text-align: center;
}

#timerText{
    display: none;
}

.timerMenu button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

.timerMenu button:hover {
    background-color: #0056b3;
}